<script type="text/javascript">
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>
<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="preferencesTab">
    <li class="<%= if current_page?(:tab => 'member_types') then 'active' elsif current_page?(:tab => 'membership_types') then '' elsif current_page?(:controller => 'preferences', :action => 'members_management') then 'active' end %>"><a href="#member_types" data-toggle="tab">Member Types</a></li>
    <li class="<%= 'active' if current_page?(:tab => 'membership_types') %>"><a href="#membership_types" data-toggle="tab">Membership Types</a></li>
  </ul>
  <div class="tab-content">
    <div class="<%= if current_page?(:tab => 'member_types') then 'tab-pane active' elsif current_page?(:tab => 'membership_types') then 'tab-pane' elsif current_page?(:controller => 'preferences', :action => 'members_management') then 'tab-pane active' end %>" id="member_types">
      <%= render "member_categories" %>
    </div>
    <div class="<%= if current_page?(:tab => 'membership_types') then 'tab-pane active' else 'tab-pane' end %>" id="membership_types">
      <%= render "membership_types" %>
    </div>
  </div>
</div>
