<!DOCTYPE html>
<html>
<head>
  <title>Aglae</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="navbar navbar-fixed-top ">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /header -->
  <div class="main">
    <div class="menu">
    </div><!-- /menu -->
    <div class="content">
      <div id='notice'>
        <%= render 'layouts/messages' %> 
      </div>
      <%= yield %>      
    </div><!-- /content -->
  </div><!-- /main -->
  <div class="footer navbar-fixed-bottom">
    <div class="footer-inner">
      <h5>Powered by Aglaé, designed and built by @lduby</h5>
    </div><!-- /footer-inner -->
  </div><!-- /footer -->
</body>
</html>
