<div class="alert alert-info">
<button type="button" class="close" >x</button>
<h1><%= @member.lastname.capitalize+" "+@member.firstname.capitalize %></h1>
<p><%= @member.address+" "+@member.zipcode+" "+@member.city %></p>
<p><%= "Telephone: "+@member.phone %></p>
<p><%= "Type: "+@member.member_type %></p>
<div id="childrenlist">
<h2>Children</h2>

<% if @member.children.size == 0 %>
No children found
<% end %>
	  <div id="accordion2" class="accordion">
<% @member.children.each do |memberchild| %>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapse<%=memberchild.id%>" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
		  <%=memberchild.lastname.capitalize+" "+memberchild.firstname.capitalize%>
                </a>
              </div>
              <div class="accordion-body collapse" id="collapse<%=memberchild.id%>" style="height: 0px;">
                <div class="accordion-inner">
                  <p>Birthdate : <%=memberchild.birthdate%></p>
                </div>
              </div>
            </div>
          
<!--<li><%= link_to memberchild.lastname+" "+memberchild.firstname, memberchild %></li>-->
<% end %>
</div>
</div>
<div id="newmemberchilddiv"><a id="newmemberchildbutton" href="<%= new_child_path %>">New Child</a></div>
<div id="memberchildform" class="form"></div>
<%# link_to "Back to list", members_path %>
</div>

<script>
$(document).ready(function() {
  $("#newmemberchildbutton").click(
    function (event) {
      event.preventDefault();
      if ($("#memberchildform").text() == "") {
        $("#memberchildform").load("<%= member_path+"/ajnewchild" %>");
      } else {
        $("#memberchildform").empty();
      }
    }
  )
  member_button_close();
});
</script>
